.card {
  width: 100%;
  height: fit-content;

  color: #5e6c84;

  position: relative;
  .task {
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 10px rgba(0, 0, 0, 0.01);
    padding: 10px 8px;
    text-transform: capitalize;
  }

  .todo {
    width: 100%;
    &:hover + .edit-btn {
      visibility: visible;
    }
  }

  .edit-btn {
    visibility: hidden;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;

    outline: none;
    &:hover {
      cursor: pointer;
      visibility: visible;
    }
  }
  svg {
    font-size: 20px;
    color: #9fa9ba;
  }

  .edit {
    position: absolute;
    top: -20%;
    height: 70px;
    width: 100%;
    left: 0;
    transform: scale(1.1);
    z-index: 30;
  }

  .edit_todo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    textarea {
      font-size: 14px;
      box-shadow: 0px 2px 5px 10px rgba(0, 0, 0, 0.01);
      border: none;
      width: 100%;
      border-radius: 5px;
      padding: 8px;
      height: 70px;
      background-color: #f8f9fa;
      align-self: flex-start;
      color: #5e6c84;
      &:focus {
        outline: none;
      }
    }
  }
}
